<div class="float-right">
    <small>
    Your cart:
    <span *ngIf="cart.itemCount > 0">
        {{cart.itemCount}} has items
        {{cart.cartPrice}} total price
    </span>
    <span *ngIf="cart.itemCount == 0">
        empty
    </span>
    <!-- <button class="btn btn-sm btn-success float-right" (click)="clickmeCart()">clickmeCart</button> -->
</small>
<button [disabled]="cart.itemCount == 0"  routerLink="/store/cart" class="btn btn-sm bg-dark float-right text-white">
    <i class="fa fa-shopping-cart"></i>
    <!-- <fa-icon [icon]="faCoffee"></fa-icon>   -->
</button>
</div>