<div class="m-2">
    <form class="form" [formGroup]="bookForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label>ISBN hahahah Hotfix 1 v1.1:</label>
            <input type="text" formControlName="isbn" class="form-control">
        </div>

        <div class="form-group">
            <label>Title:</label>
            <input type="text" formControlName="title" class="form-control">
        </div>

        <div class="form-group">
            <label>Subtitle:</label>
            <input type="text" formControlName="subtitle" class="form-control">
        </div>

        <div class="form-group">
            <label>Rating:</label>
            <input type="text" formControlName="rating" class="form-control">
        </div>

        <!-- <div class="form-group">
            <label>Published:</label>
            <input type="date" formControlName="published" useValueAsDate class="form-control">
        </div> -->


        <!-- <div class="form-group">
            <label>Authors</label>
            <div formArrayName="authors" *ngFor="let au of bookForm.get('authors')['controls']; let in = index;">
                {{au.value}}
                <input formControlName="in" placeholder={{au.value}}>
            </div>
        </div> -->

        <button type="button" class="btn btn-secondary m-1"  [style.max-width.px]="180"  (click)="addSeller()">Add new Seller</button>

        <div *ngIf="book?.sellers">
            <!-- Fejléc -->
            <div class="row  gy-1" >   <!--  nem biztos hogy a jsonban van ilyen property -->
                <div class="col-2">
                    Name
                </div>
                <div class="col-2">
                    Address
                </div>
                <div class="col-2">
                    Quantity
                </div>
                <div class="col-2">
                    &nbsp;
                </div>           
            </div>

            <div formArrayName="sellers" *ngFor="let seller of bookForm.get('sellers')['controls']; let i = index;">    <!-- a sellers FormArray-n mint FormControll elemeket iterálunk végig -->
                <div [formGroupName]="i" class="row gy-1 mb-2">
                    <div class="col-2">
                         <input formControlName="name" >
                    </div>
                    <div class="col-2">
                         <input formControlName="address" >
                    </div>
                    <div class="col-2">
                         <input formControlName="quantity" >
                    </div>
                    <div class="col-2">                       
                            <button type="button" class="btn btn-secondary" [style.max-width.px]="120" (click)="deleteSeller(i)">Delete Seller</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <button type="submit" class="btn btn-primary m-1"  [style.max-width.px]="180" [disabled]="bookForm.invalid">Submit</button>
            <button type="button" class="btn btn-primary m-1"  [style.max-width.px]="180" routerLink="/book/list">Back</button>
        </div>

    </form>



</div>
